.add-restaurant-page {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url('./../images/images.jpg');
    background-size: cover;
}

.add-restaurant-form {
    width: 50%;
    margin-top: 0;
    max-width: 500px;
}

.add-restaurant-texts {
    /* margin-top: 23vh; */
    /* margin-bottom: 16vh; */
    text-align: center;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: 550;
    text-shadow: 2px 2px #000;
    float: right;
    width: calc(100% - 22%)
}

.add-restaurant-form {
    width: 50%;
    margin-top: 0;
    max-width: 500px;
}

.restaurant-data {
    display: block;
    text-align: center;
    margin-bottom: 16px;

    color: white;
    font-size: 16px;
    text-shadow: 2px 2px #000;
}

.zones-list {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
}

.restaurant-data-label {
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

    color: white;
    font-size: 16px;
    text-shadow: 2px 2px #000;
}

.restaurant-data-input {
    font-family: "Lucida Console", "Lucida Sans Typewriter";
    display: flex;
    flex: 1;
    align-items: center;
    /* max-width: fit-content; */
    width: 100%;
    padding: 10px 0px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    background: white;
    border-radius: 3px;
    text-align: center;
}

.btn {
    /* display: flex;
    justify-content: center;
    margin: 10px; */

    display: inline-block;
    background: #fff;
    color: grey;
    border: none;
    padding: 10px 20px;
    /* margin: 5px; */
    border-radius: 3px;
    border: 1px solid lightgrey;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-family: inherit;
    height: 40px
}

.btn:hover {
    background: grey;
    color: #fff;
}

#btn-add-restaurant{
    float: left;
    width: 100%;
    margin-top: 30px;
}
