.cart-page {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    background-image: url('./../images/images.jpg');
    background-size: cover;
}

.restaurant-title { 
    padding-top: 7px;
    padding-left: 2px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 550;
    text-shadow: 2px 2px #000;
    float: left;
    text-align: center;
    text-decoration: none;
}

.total-label {
    padding-top: 7px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 550;
    text-align: right;
    text-decoration: none;
}

.container {
    overflow-x: auto;
    /* max-height: 100vh; */
    margin-bottom: 50px;
    list-style: none;
    /* align-items: left; */
    width: 96%;
    margin: 10px 20px;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    padding: 10px ;
    cursor: pointer;
    /* min-width: 900px; */
}

.container::-webkit-scrollbar{
    display: none;
}

.btn-component-cart{
    background: #d493ae;
    color: #000000;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid lightgrey;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-family: inherit;
    height: 33px;
    width: 20%;
    margin-right: 10px;
    margin-left: 1210px;
    margin-bottom: 10px;
}

.btn-component:hover {
    background: #8d6274;
    color: #fff;
}

.cart-form {
    width: 97.4%;
    margin-top: 20px;
    /* max-width: px; */
    margin-left: 20px;
}

.data {
    display: block;
    text-align: left;
    margin-bottom: 16px;

    color: black;
    font-size: 14px;
}

.data-label {
    display: block;
    /* text-align: center; */
    align-items: center;
    margin-bottom: 10px;

    color: black;
    font-size: 14px;
}

.data-input {
    font-family: "Lucida Console", "Lucida Sans Typewriter";
    display: inline-block;
    flex: 1;
    align-items: center;
    /* max-width: fit-content; */
    width: 100%;
    padding: 10px 0px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    background: white;
    border-radius: 3px;
    text-align: center;
}